@model OnlineShop.Models.Cart
@{
    ViewBag.Title = "Cantitate";
}

<h2>Cantitate</h2>

@using (Html.BeginForm("Cantitate", "Cart", FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ProductId)
    <br />

    @Html.Label("Cantitate", "Cantitate")
    <br />
    @Html.EditorFor(m => m.Quantity)
    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    <br /><br />





    <button class="btn btn-sm btn-success" type="submit">Modifica</button>
}