@model OnlineShop.Models.Product

@{
    /**/

    ViewBag.Title = "Index";
}

<h1>Afisare cereri</h1>

@foreach (OnlineShop.Models.Product product in ViewBag.Products)
{
    if (product.Activat == false)
    {
<div class="panel panel-default">
    <div class="panel-heading">@product.Title</div>
    <div class="panel-body">
        <div style="width:70%;float: left">
            Descriere: @product.Description
            <br />
            Pret: @product.Price <i class="glyphicon glyphicon-euro"></i>
            <br />
            <i class="glyphicon glyphicon-globe"></i> Categorie: @product.Category.CategoryName
            <br />
            <i class="glyphicon glyphicon-user"></i> <i>produs adaugat de</i> <strong> @product.User.UserName </strong>

        </div>
        <div style="width:30%;float:right">
            <p>
                @{
                    var base64 = Convert.ToBase64String(product.Picture);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" style="
                max-height:200px;
                max-width:200px;
                height:auto;
                width:auto;" />
            </p>

        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success pull-left" href="/Products/Show/@product.Id"> Afisare produs </a>
        <a class="btn btn-info pull-right" href="/Products/Activat/@product.Id"> Activare produs </a>
        <div class="clearfix"></div>
    </div>
</div>


    }


    }
