@model OnlineShop.Models.Product
@{
    ViewBag.Title = "New";
}

<h1>Adaugare Produs</h1>

@using (Html.BeginForm( "New", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("Title", "Nume Produs")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Descriere Produs")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    @Html.Label("Price", "Pret Produs")
    @Html.TextArea("Price", null, new { @class = "form-control" })
    <br />
    @Html.LabelFor(model => model.Picture,htmlAttributes: new {  @class = "control-label col-md-2"})
    <br />
    <div class="col-md-2">
        <input type="file" name="Image" id="Image" class="input-files" />
    </div>
    <br />
    <br />
    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga articol</button>
}
