@model OnlineShop.Models.Product
@{
    ViewBag.Title = "Show";
}
<br/>
<div class="panel panel-default">

    @Html.Partial("ProductInfo2", Model)

    @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
    <div class="panel-footer">
        <a class="btn btn-success pull-left" href="/Products/Edit/@Model.Id">Modifica produs</a>
        <form method="post" action="/Products/Delete/@Model.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Sterge produs</button>
        </form>
        <div class="clearfix"></div>
    </div>
    }


</div>

<div class="panel-body">
    <div style="width:50%;float:left">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                        <form method="post" action="/Reviews/New">
                            <div class="panel-body">
                                <input type="hidden" name="ProductId" value="@Model.Id" />
                                @Html.Label("ReviewRating", "Rating")
                                
                                @Html.DropDownList("ReviewRating", ViewBag.ReviewRating as List<SelectListItem>)
                                <br/>
                                @Html.Label("ReviewComment", "Comentariu")
                                <br />
                                @Html.TextArea("ReviewComment", null, new { @class = "form-control" })
                                <br />
                                <br />
                                <button class="btn btn-success " type="submit">Adauga comentariu</button>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div style="width:50%;float:right">

        @foreach (var rev in Model.Reviews)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div>
                            <p>User: @rev.UserName</p>
                            @if (rev.ReviewComment != null)
                            {
                                <p>Comment: @rev.ReviewComment</p>
                            }
                            <p>
                                Rating:
                                @for (int i = 1; i <= rev.ReviewRating; ++i)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                }
                                @for (int i = 5; i > rev.ReviewRating; --i)
                                {
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                }
                            </p>
                        </div>
                        @if (rev.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                        {
                            <div style="display: inline-block; float : left; margin-right: 15px">
                                <a class="glyphicon glyphicon-pencil" href="/Reviews/Edit/@rev.ReviewId"></a>
                            </div>
                            <div style="display: inline-block; float : left">
                                <form method="post" action="/Reviews/Delete/@rev.ReviewId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <hr />
        }
    </div>


</div>
